<html>

    <head>
        <title></title>
    </head>
    <body>
    @* With ViewBag we can use Dynamic Property 
        ViewBag also creates losely typed View
    *@
        <h3>@ViewBag.PageTitle </h3> 
       
        <div>
            Name: @ViewBag.Employee.Name
        </div>
    <div>
        Name: @ViewBag.Employee.Email
    </div>
    <div>
        Name: @ViewBag.Employee.Department
    </div>
    </body>
</html>       