@* View Model*@
@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
   
    ViewBag.Title = "Employee Detail";
}

    @* With StrongType View provides compile-time checking and provides intellisense  *@
        <h3>@ViewBag.PageTitle </h3> 
       
        <div>
            Name: @Model.Employee.Name
        </div>
    <div>
        Name: @Model.Employee.Email
    </div>
    <div>
        Name: @Model.Employee.Department
    </div>

    @section Scripts {
    <script src="~/js/site.js"></script>
    }
     